html {
  height: 100%;
  width: 100%;
  background-color:saddlebrown
  
}
body {
  font-family: comic sans ms;
  font-size: large;
}
.author{
  font-size: 30pt;
  padding-left: 35%;
}
h1{
  padding-left:3%;
  
}
